/** filename: styles.scss
 *  description: main stylesheet for sarahRosannaBusch.ca
 *  author: Sarah Rosanna Busch
 *  date: 17 April 2020
 */
/****************************** Footer Styles *********************************/
svg#flower {
  width: 103px;
  /* 103px */
  height: auto;
  /* 69px */
  position: absolute;
  padding: 3px;
}

g#orange {
  visibility: hidden;
}

g#purple {
  visibility: hidden;
}

g#green {
  visibility: hidden;
}

/* **************************** fundamentals ************************* */
* {
  box-sizing: border-box;
  /* padding and border are included in total width/height of all elements */
  margin: 0px;
}

body {
  background: #343434;
  color: lavender;
  font-size: 12pt;
  font-style: monospace;
  background-image: url("img/background.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-position-y: center;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ****************************** Menu ***************************** */
#menu {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}
#menu header {
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-bottom: 10px;
  text-align: center;
  font-family: monospace;
  background: #232323;
}
#menu header img {
  width: 200px;
}
#menu main {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
#menu h2 {
  font-size: 16pt;
  background-image: linear-gradient(to right, blueviolet, lavender);
  color: black;
  font-family: monospace;
  text-align: center;
}
#menu section {
  background: #232323;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 10px;
}
#menu p {
  padding: 1em;
  padding-top: 0.5em;
  max-width: 12cm;
  margin: auto;
}
#menu button {
  border: none;
  color: #898989;
  background-image: linear-gradient(#454545, black);
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
}
#menu button:hover {
  box-shadow: 2px 1px 4px 2px lavender;
  color: lavender;
}
#menu button:active {
  background-image: linear-gradient(black, #454545);
}

/* ***************************** Pages ****************************** */
header {
  display: block;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  background-image: linear-gradient(#121212, #454545);
  margin-bottom: 0.5em;
  text-align: center;
}
header a {
  font-size: 14pt;
  font-weight: normal;
  color: white;
  vertical-align: middle;
}
header a:link {
  text-decoration: none;
}
header a:visited {
  text-decoration: none;
}
header .smAvatar {
  width: 30px;
  vertical-align: bottom;
}

h1 {
  background-image: linear-gradient(to right, blueviolet, lavender);
  color: black;
  font-family: monospace;
  width: 100%;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  font-size: 22pt;
}

h2 {
  text-align: left;
  padding: 5px;
  padding-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: monospace;
  background-image: linear-gradient(to right, #343434, #232323);
  color: blueviolet;
}

.frame {
  margin: 1em;
  background: #232323;
  border: 5px inset silver;
  box-shadow: 2px 5px 20px 5px black;
  padding: 2px;
}
.frame img {
  max-width: 100%;
  max-height: 85vh;
  vertical-align: middle;
}

section {
  width: 100%;
  padding-top: 5px;
  background-image: linear-gradient(#121212, #454545);
  margin-bottom: 5px;
}

p {
  text-align: left;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: lavender;
  max-width: 20cm;
  margin: auto;
}

a {
  font-size: 16pt;
  font-weight: bold;
  color: lavender;
}

a:link {
  color: lavender;
}

a:visited {
  color: lavender;
}

.btnContainer {
  text-align: center;
  padding-bottom: 1em;
}

button {
  padding: 5px;
  border-radius: 5px;
  background: #454545;
  color: lavender;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: blueviolet;
}

/******************************** footer *********************************/
footer {
  width: 100%;
  height: 100px;
  user-select: none;
  background-image: linear-gradient(blueviolet, rgba(230, 230, 250, 0.7));
}
footer #patrons {
  background: #cf343b;
  text-align: center;
  padding: 0.1em;
}
footer #patrons a:link {
  color: #232323;
  text-decoration: underline;
  font-size: 14px;
  font-family: monospace;
}
footer #patrons a:visited {
  color: #232323;
}
footer #signature {
  height: 80px;
  position: absolute;
}
footer #links {
  padding-top: 25px;
  text-align: center;
}
footer a:link {
  text-decoration: none;
}

.socialLogo {
  width: 30px;
  cursor: pointer;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

@media screen and (min-width: 700px) {
  #mainBody {
    display: flex;
    height: 100vh;
  }

  #menu {
    position: relative;
    display: inline-block;
    width: 350px;
    overflow-y: auto;
  }

  #sidePanel {
    display: inline-block;
    flex: 1;
    height: 100vh;
    margin: 2vh;
    margin-top: 0;
    box-shadow: 2px 5px 20px 5px lavender;
  }

  #sideView {
    width: 100%;
    height: 100%;
    border: none;
  }

  header {
    padding-top: 5px;
  }

  .notForPhone {
    display: block !important;
  }

  .frame {
    display: inline-block;
    max-width: 750px;
    margin-left: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
