/** filename: styles.scss
 *  description: main stylesheet for sarahRosannaBusch.ca
 *  author: Sarah Rosanna Busch
 *  date: 17 April 2020
 */

@import 'styles/signature.scss';
@import 'styles/colours.scss';

/* **************************** fundamentals ************************* */

* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body {    
    background: $grey3;
    color: $accentLight;
    font-size: 12pt;
    font-style: monospace;
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: center;
    background-size: cover;
    //display: flex;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $grey3;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* ****************************** Menu ***************************** */

#menu {

    width: 100%;
    //max-width: 400px;
    background: rgba(0, 0, 0, 0.5);
    min-height: 100vh;

    header {    
        width: 100%;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        margin-bottom: 10px;
        text-align: center;
        font-family: monospace;
        background: $grey2;

        img {
            width: 200px;
        }
    }

    main {
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    h2 {
        font-size: 16pt;
        background-image: linear-gradient(to right, blueviolet, lavender);
        color: black;
        font-family: monospace;
        text-align: center;
    }

    section {
        background: $grey2;
        padding-bottom: 5px;
        margin: auto;
        margin-bottom: 10px;
    }

    p {
        padding: 1em;
        padding-top: 0.5em;
        max-width: 12cm;
        margin: auto;
    }

    button {
        border: none;
        color: $grey8;
        background-image: linear-gradient($grey4, black);
        font-weight: bold;
        margin-bottom: 5px;
        width: 100%;
        padding: 0.5em;
        outline: none;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 2px 1px 4px 2px lavender;
        color: lavender;
    }

    button:active {
        background-image: linear-gradient(black, $grey4);
    }

} //#menu

/* ***************************** Pages ****************************** */

header { //page headers 

    display: block;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#121212, #454545);
    margin-bottom: 0.5em;
    text-align: center;

    a {
        font-size: 14pt;
        font-weight: normal;
        color: white;
        vertical-align: middle;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    .smAvatar {
        width: 30px;
        vertical-align: bottom;
    }
}

h1 {
    background-image: linear-gradient(to right, blueviolet, lavender);
    color: black;
    font-family: monospace;
    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.2em;    
    font-size: 22pt;
} 

h2 {
    text-align: left;
    padding: 5px;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: monospace;
    background-image: linear-gradient(to right, #343434, #232323);
    color: blueviolet;
}

.frame { //picture frame
    margin: 1em;
    background: #232323;
    border: 5px inset silver;
    box-shadow: 2px 5px 20px 5px black;
    padding: 2px;

    img {        
        max-width: 100%;
        max-height: 85vh;
        vertical-align: middle;
    }
}

section
{
    width: 100%;
    padding-top: 5px;
    background-image: linear-gradient(#121212, #454545);
    margin-bottom: 5px;
}

p
{
    text-align: left;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: lavender;
    max-width: 20cm;
    margin: auto;
}

a
{
    font-size: 16pt;
    font-weight: bold;
    color: lavender;
}

a:link {
    color: lavender;
}

a:visited {
    color: lavender;
}

.btnContainer {
    text-align: center; 
    padding-bottom: 1em;
}

button
{
    padding: 5px;
    border-radius: 5px;
    background:#454545;
    color: lavender;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

button:hover
{
    background: blueviolet;
}


/******************************** footer *********************************/

footer
{
    width: 100%;
    height: 100px;
    user-select: none;
    background-image: linear-gradient(blueviolet, rgba(230,230,250,0.7));

    #patrons {
        background: rgb(207, 52, 59);
        text-align: center;
        padding: 0.1em;
        
        a:link {
            color: $grey2;
            text-decoration: underline;
            font-size: 14px;
            font-family: monospace;
        }

        a:visited {
            color: $grey2;
        }
    }

    #signature {
        height: 80px;
        position: absolute;
    }

    #links {
        padding-top: 25px;
        text-align: center;
    }

    a:link {
        text-decoration: none;
    }
}

.socialLogo
{
    width: 30px;
    cursor: pointer;
    margin-left: 0.25em;
    margin-right: 0.25em;
}


//default styles are for mobile // 360x640 thru 414x896
@import 'styles/horizontal.scss'; // 1024x768 thru 1920x1080



// footer.pageFoot //delete?
// {
//     position: relative;
//     width: 100%;
//     height: 80px;
//     background-image: linear-gradient(blueviolet, rgba(230,230,250,0.7));
//     user-select: none;
//     padding: 2px;

//     #signature {
//         height: 80px;
//         position: absolute;
//     }

//     #links {
//         padding-top: 25px;
//         text-align: center;
//     }

//     a:link {
//         text-decoration: none;
//     }
// }