/****************** illustrations page *************************/
* 
{
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body
{
    background: #343434;
    text-align: center;
    color: lavender;
}

.frame 
{
    margin: 1em;
    background: #232323;
    border: 5px inset silver;
    box-shadow: 2px 5px 20px 5px black;
    padding: 2px;

    img {        
        max-width: 100%;
        max-height: 85vh;
        vertical-align: middle;
    }
}

header
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-image: linear-gradient(#121212, #454545);
    margin-bottom: 1em;

    a
    {
        font-size: 16pt;
        font-weight: bold;
        color: white;
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
}

h1
{
    background-image: linear-gradient(to right, blueviolet, lavender);
    color: black;
    font-family: monospace;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2
{
    text-align: left;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: monospace;
}

p
{
    text-align: left;
    padding: 1em;
    padding-top: 0;
    color: lavender;
}

footer
{
    position: relative;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(blueviolet, rgba(230,230,250,0.7));
    user-select: none;
    padding: 2px;

    #signature {
        height: 80px;
        position: absolute;
    }

    #links {
        padding-top: 25px;
        text-align: center;
    }

    a:link {
        text-decoration: none;
    }
}

.socialLogo
{
    width: 30px;
    cursor: pointer;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

@media screen and (min-width: 10cm)
{
    footer {
        display: none;
    }
}