

$grey0: #010101;
$grey1: #121212;
$grey2: #232323;
$grey3: #343434;
$grey4: #454545;
$grey5: #565656;
$grey6: #676767;
$grey7: #787878;
$grey8: #898989;
$grey9: #9A9A9A;
$grey10: #ABABAB;
$grey11: #BCBCBC;
$grey12: #CDCDCD;
$grey13: #DEDEDE;
$grey14: #EFEFEF;

$accentLight: lavender;
$accentDark: blueviolet;