/****************************** Footer Styles *********************************/

svg#flower
{
  width: 103px; /* 103px */
  height: auto; /* 69px */
  position: absolute;
  padding: 3px;
}

g#orange
{
  visibility: hidden;
}

g#purple
{
  visibility: hidden;
}

g#green
{
  visibility: hidden;
}